body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
   
    color: #333;
   
}
.container {
    width: 90;
    max-width: 960px;
    margin: 80px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28,6,49,0.1);

}
.error{
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;

}

button {
    text-decoration: none;
    background-color: rgba(1, 106, 20, 0.877);
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 20px;
    
}